<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">
  <description>手动声明所有API的实现类，代替@Service</description>

  <bean id = "tabUserService"
        class = "com.admin.luntan.service.impl.TabUserServiceImpl"/>
</beans>